* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #283959;
  background-color: #f8fbff;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 20px 35px;
  background-color: #fcc945;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #283959;
  margin: 0;
}
header nav {
  margin: 7px 0;
}
header a {
  color: #283959;
  text-decoration: none;
}
header li {
  font-size: 24px;
  font-weight: bold;
  color: #283959;
  text-decoration: none;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: none;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
footer {
  background: #30343e;
  width: 100%;
  padding: 40px 35px;
  color: #f8fbff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: #f8fbff;
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #f8fbff;
}
.hero {
  background-image: url(../images/hero-bg.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
section {
  padding: 60px;
}
.hero-form {
  background-color: #fcc945;
  padding: 20px;
  color: #283959;
  border: solid 3px #30343e;
  width: 40%;
  margin: 3.5%;
}
h3 {
  margin: 0px;
  font-size: 24px;
}
.hero-form p {
  margin: 5px 0 15px 0;
}
.form-input {
  border: 1px solid #30343e;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #f8fbff;
  width: 100%;
  margin-bottom: 15px;
}
.hero-form label {
  margin: 0 5px;
}
.hero-form button {
  color: #fcc945;
  background-color: #30343e;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}
.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}
.intro p {
  font-size: 24px;
  text-align: center;
}
.steps {
  background-color: #fcc945;
}
.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #30343e;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.step h3 {
  color: #283959;
  font-size: 46px;
  flex: 30%;
}
.step-img {
  flex: 1 12%;
  margin-right: 20px;
}
.step-img img {
  max-width: 100%;
}
.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #283959;
}
.step-text {
  flex: 12;
}
.step-text p {
  font-size: 18px;
  color: #283959;
}
.section-title {
  font-size: 48px;
  color: #283959;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
.primary-border {
  border-color: #30343e;
}
.secondary-border {
  border-color: #30343e;
}
.trainers {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trainer {
  margin: 20px;
  background: #fcc945;
  color: #283959;
  flex: 1;
}
.trainer img {
  width: 100%;
}
.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.trainer-bio h3 {
  font-size: 28px;
}
.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}
.trainer-bio p {
  font-size: 17px;
}
.contact {
  background: #fcc945;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info > * {
  flex: 1;
  margin: 15px;
}
.contact-info div {
  color: white;
}
.contact h2 {
  color: #283959;
}
.contact-info iframe {
  height: 400px;
}
.contact-info h3 {
  color: #283959;
  font-size: 32px;
}
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
  font-size: 16px;
}
.contact-info p {
  font-size: 16px;
}
.contact-info a {
  color: #283959;
}
.contact-form input,
.contact-form textarea {
  border: 1px solid #30343e;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #283959;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}
.contact-form button {
  width: 100%;
  border: none;
  background: #283959;
  color: #f8fbff;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}
.flex-row {
  display: flexbox;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
