* {
    margin: 0;
    padding: 0;
  }
  body {
    color: #283959;
    background-color: #f8fbff;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: #fcc945;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #283959;
    margin: 0;
    display: inline;
}
header nav {
    float: right;
    margin: 7px 0;
}
header a {
    color: #283959;
    text-decoration: none;
}
header li {
    font-size: 24px;
    font-weight: bold;
    color:#283959;
    text-decoration: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }